.ProductPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    position: relative;
}

.backBtn {
    position: absolute;
    top: 6rem;
    left: 4rem;
    padding: 8px;
    border-radius: 8px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
}

.ProductContainer {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;

    p {
        margin: 10px 0;
    }

    img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

@media(max-width: 751px) {
    .backBtn {
        top: 5rem;
        left: 1rem;
    }
}